<!DOCTYPE html>
<html leng = "en">
     <!-- Footer -->
     <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="footer">
                <p>&copy; 2024 Nhóm 5 lớp K15DCPM5. All rights reserved. | Trang web bán nhạc cụ trực tuyến <a
                        href="https://github.com/LQuocPhi/Guitar_Center_front.git" target="_blank">| Repository</a></p>
            </div>
        </div>
    </div>
</html>