<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script type="module" src="./handler/index_user.js"></script>
        <link rel="stylesheet" href="./css/login.css">
        
    </head>
    <body>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form id="register-form" >
                    <h1>Create Account</h1> 
                    <input id="username_register" type="text" placeholder="Username" />
                    <input id="password_register" type="password" placeholder="Password" />
                    <input id="fullname_register" type="text" placeholder="Fullname" />
                    <input id="phone_register" type="text" placeholder="Phone" />
                    <input id="address_register" type="text" placeholder="Address" />
                    <div class="gender"style="display: flex;">
                        <label>
                            <input type="radio" name="gender" value="M" required /> Male
                        </label>
                        <label>
                            <input type="radio" name="gender" value="F" required /> Female
                        </label>
                    </div>
                    <input id="birth_register" type="date" placeholder="Birth (dd-mm-yyy)" />
                    <button id="btn_signup">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form id="login-form">
                    <h1>Sign in</h1>
                    <input id="username_login" type="text" placeholder="Username" />
                    <input id="password_login" type="password" placeholder="Password" />
                    <a href="#">Forgot your password?</a>
                    <button id="btn_login">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your
                            personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with
                            us</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const signUpButton = document.getElementById('signUp');
            const signInButton = document.getElementById('signIn');
            const container = document.getElementById('container');

            signUpButton.addEventListener('click', () => {
                container.classList.add("right-panel-active");
            });

            signInButton.addEventListener('click', () => {
                container.classList.remove("right-panel-active");
            });
        </script>
    </body>
</html>